.product-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  max-width: 800px;
}

.auth-error {
  color: red;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ededed;
  padding: 0.75rem;
  margin-bottom: 2rem;
}
